*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
}

.btn {
  cursor: pointer; //커서 모양
  max-width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.5rem 0.375rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  background-color: oklch(0.4 0.1 150);
  color: oklch(0.9 0.1 150);
  text-transform: capitalize;
  margin-top: 1.25rem;
  border-radius: 64rem;
  transition: all 1000ms ease-out; //커서를 갖다댔을 때 이 시간동안 변하세요~를 말해주는 것. 여기다 넣으면 갖다댈때, 뗄 때에 둘 다 적용. 하지만 트랜지션의 단점은 중간을 지정할 수가 없다는 것. 시작과 끝만 가능.

  //hover는 마우스를 갖다댔을 때 이 색으로 변하세요~ 를 뜻함
  &:hover {
    // transition: all 1000ms ease-out; //커서를 갖다댔을 때 이 시간동안 변하세요~를 말해주는 것. 여기서는 갖다댈 때만 적용
    background-color: oklch(0.4 0.1 240);
    color: oklch(0.9 0.1 240);
  }

  &--type {
    &-elevated {
      background-color: oklch(0.95 0.025 150);
      color: oklch(0.45 0.1 150);
      box-shadow: 0rem 0.25rem 0.25rem 0rem rgba(0, 0, 0, 0.25);
      &:hover {
        background-color: oklch(0.95 0.025 240);
        color: oklch(0.45 0.1 240);
        box-shadow: 0rem 0.125rem 0.125rem 0rem rgba(0, 0, 0, 0.25);
      }
    }

    &-tonal {
      background-color: oklch(0.8 0.05 150);
      color: oklch(0.3 0.1 150);
    }

    &-outline {
      background-color: unset;
      color: oklch(0.4 0.1 150);
      border: 1px solid oklch(0.5 0 150);
    }

    &-text {
      padding-inline: 0.75rem;
      color: oklch(0.4 0.1 150);
      background-color: unset;
      &:hover {
        background-color: unset;
        color: oklch(0.4 0.1 150);
        animation-name: rainbow;
        animation-duration: 5s;
      }
    }
  }
}

//키프레임 네임 설정하고 해당하는 부분에 animation name에 설정 이름을 넣어주면 해당 키프레임대로 애니메이션 적용됨
@keyframes rainbow {
  0% {
    background-color: oklch(0.5 0.2 0);
    transform: translate(0rem, 0rem);
  }
  25% {
    transform: translate(1rem, 0rem);
  }
  50% {
    transform: translate(1rem, 1rem);
  }

  75% {
    transform: translate(0rem, 1rem);
  }

  100% {
    background-color: oklch(0.5 0.2 240);
  }
}
