*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
  line-height: 150%;
}

.btn {
  max-width: fit-content;
  padding-inline: 1rem;
  padding-block: 0.5rem 0.375rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  text-transform: capitalize;
  //for dev
  border: 1px solid #000;
  margin-top: 1.25rem;
}
