* {
  box-sizing: border-box;
  font-family: Palo compressed medium;
}

body {
  margin: 0;
  background-color: #fcfcfc;
  background-color: #eafaf1;
}

.container {
  margin-inline: auto;
}

.navigation {
  display: flex;
  margin-inline: 22.1875rem;
  padding-block: 3rem;
  padding-inline: 1.5rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  color: #00ad6a;
}

.navigation > .navigation__menu-group {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}

.navigation__menu-group > .navigation__logo {
  width: 7.4375rem;
  height: 3.0625rem;
}

.navigation__menu-group > .navigation__menu-group-border {
  border: 2px solid #00ad6a;
  padding-block: 0.25rem;
  padding-inline: 1rem;
}

.second {
  margin-inline: auto;
}
h1 {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 900;
  height: 7.5rem;
}

.hero {
  text-align: center;
  color: #080c16;
  margin-inline: 22.1875rem;
  margin-bottom: 40px;
  padding-inline: 1.5rem;
  padding-bottom: 2.5rem;
}

.hero > .body {
  width: 37.5rem;
  margin-inline: auto;
}

.body > p {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  height: 3.375rem;
}

.container__Third {
  margin-inline: 22.8125rem;
  padding-inline: 1.5rem;
}

.first__box {
  padding: 2rem;
}
.first__box-inside {
  padding-inline: 1.5rem;
  color: #464951;
}

h2 {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4375rem;
  color: #00ad6a;
}

.first__box-inside-list {
  margin: 0rem 0rem 1rem 1rem;
  padding: 0;
  list-style: disc;
}

.first__box-inside > p {
  margin: 0;
}

.second__box-inside {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  padding-inline: 2rem;
}

.top {
  margin: 1rem 0 0 0;
  padding-inline: 1rem;
  text-align: center;
  letter-spacing: -0.0938rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  color: rgb(0, 173, 106);
}

.middlefirst {
  margin: 0.5rem 0 1.5rem 0;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.0313rem;
  text-align: center;
  color: rgb(131, 133, 138);
}

.middlesecond {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-inline: 2rem;
  padding-block: 0.5rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  text-align: center;
  color: rgb(6, 44, 39);
  background-color: rgb(31, 227, 116);
}

.bottom {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  line-height: 0.2375rem;
  text-align: center;
  color: rgb(70, 73, 81);
}

.second__box-inside-list {
  margin-top: 0px;
  margin-bottom: 1rem;
  list-style: none;
}
