* {
  margin: 0;
  box-sizing: border-box;
  /*font-family: Palo compressed medium;*/
  font-family: Work Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: fcfcfc;
}

body {
  max-width: 119.375rem;
}

.header {
  margin-inline: auto;
  background-color: #eafaf1;
}

.navigation {
  display: flex;
  margin-inline: 22.1875rem;
  padding-block: 3rem;
  padding-inline: 1.5rem;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 700;
  color: #00ad6a;
}

.navigation > .navigation__menu-group {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}

.navigation__menu-group > .navigation__logo {
  width: 7.4375rem;
  height: 3.0625rem;
}

.navigation__menu-group > .navigation__menu-group-border {
  border: 2px solid #00ad6a;
  padding-block: 0.25rem;
  padding-inline: 1rem;
}

.box-1 {
  display: flex;
  justify-content: center;
  margin-inline: 22.1875rem;
  margin-block: 0rem 2.5rem;
  max-width: 75rem;
  padding-inline: 1.5rem;
  padding-bottom: 2.5rem;
}
.box-1-container {
  display: block;
  max-width: 37.5rem;
  text-align: center;
}

h1 {
  display: block;
  margin-bottom: 1rem;
  font-size: 3.75rem;
  font-weight: 700;
  letter-spacing: -0.125rem;
  line-height: 3.75rem;
  text-align: center;
  color: #080c16;
}

.content-box > p {
  font-size: 1.125rem;
  text-align: center;
  line-height: 1.6875rem;
  color: #080c16;
}

.box-2 {
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  display: block;
}

.pb-box-1-outside {
  width: 33.33333%;
  padding: 2rem;
  display: flex;
}

.pb-box-1-inside {
  padding: 0 1.5rem;
  display: block;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #00ad6a;
  display: block;
}

.pb-box-1-inside-list {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 0;
  display: block;
  color: #464951;
}

.text-base {
  color: #464951;
  font-size: 1rem;
  display: block;
}

.pricing-boxs {
  display: flex;
  align-items: center;
}

.second {
  margin-inline: auto;
}
h1 {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 900;
  height: 7.5rem;
}

.hero {
  text-align: center;
  color: #080c16;
  margin-inline: 22.1875rem;
  margin-bottom: 40px;
  padding-inline: 1.5rem;
  padding-bottom: 2.5rem;
}

.hero > .body {
  width: 37.5rem;
  margin-inline: auto;
}

.body > div {
  margin: 0;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  height: 3.375rem;
}

.container__Third {
  margin-inline: 22.8125rem;
  padding-inline: 1.5rem;
}

.first__box {
  padding: 2rem;
  width: 24.6663rem;
  height: 31.3125rem;
  display: flex;
}

.first__box-inside {
  padding-inline: 1.5rem;
  color: #464951;
  max-width: 75rem;
  width: 20.6663rem;
  height: 27.3125rem;
}

h2 {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4375rem;
  color: #00ad6a;
}

.first__box-inside-list {
  margin: 0rem 0rem 1rem 1rem;
  padding: 0;
  list-style: disc;
}

.first__box-inside > p {
  margin: 0;
}

.second__box {
  width: 24.6663rem;
  height: 42.6125rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border: 0.0625rem solid rgb(0, 173, 06);
  background-color: rgb(255, 255, 255);
}

.second__box-inside {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  padding-inline: 2rem;
  height: 42.4875rem;
}

.second__box-inside-top {
  display: inline-block;
}
.second__box-inside-down {
  display: flex;
}
.top {
  margin: 1rem 0 0 0;
  padding-inline: 1rem;
  text-align: center;
  letter-spacing: -0.0938rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  color: #00ad6a;
  display: block;
}

.middlefirst {
  margin: 0.5rem 0 1.5rem 0;
  padding-left: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: -0.0313rem;
  text-align: center;
  color: #83858a;
}

.signupnowbox {
  width: 20.5413rem;
  height: 5.125rem;
  align-items: center;
  display: flexbox;
}
.middlesecond {
  align-items: center;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-inline: 2rem;
  padding-block: 0.5rem 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  text-align: center;
  color: #464951;
  background-color: rgb(31, 227, 116);
  width: 11.8069rem;
  height: 3.125rem;
  display: block;
}

.bottom {
  margin: 0;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  line-height: 0.2375rem;
  text-align: center;
  color: rgb(70, 73, 81);
  height: 0.8625rem;
}

.second__box-inside-list {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 1rem;
  list-style: none;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #464951;
  text-align: left;
}
.second__box-inside-list > li {
  padding-block: 0.5rem;
  display: block;
}

.third__box {
  width: 24.6663rem;
  height: 35.6125rem;
  border: 0.0625rem solid rgb(214, 218, 229);
  background-color: rgb(255, 255, 255);
}

.third__box-inside {
  padding: 3rem 2rem 1.5rem 2rem;
  height: 35.4875rem;
}
